#scale {
    background-image: linear-gradient(to right,  rgb(119, 150, 253),  rgb(121, 255, 121), rgb(255, 255, 115), rgb(255, 111, 111));
    border-radius: 5px 10px;
}
.bmiInput {
    display: flex;
    justify-content: space-around;
}
.result {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bmiColumn {
    width: 33%;
    display: flex;
    flex-direction: column;
}
