body {
    background-color: black;
    background-image: radial-gradient(deepSkyBlue, transparent);
    min-width: 350px;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
}

.header {
    color: gold;
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.link {
    color: white;
}

.bmiInput {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.result {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: linear-gradient(to right,
	deepskyblue, lawngreen,  yellow, orange, red, firebrick);
    border-radius: 5px 10px;
    opacity: 0.7;
    border-color: white;
    border-width: 1em;
}
.bmiColumn {
    width: 33%;
    display: flex;
    flex-direction: column;
}
