body {
    background-image: radial-gradient(SkyBlue, seashell);
    /*background-image: linear-gradient(whke, SeaShell);*/
    min-width: 270px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#scale {
    background-image: linear-gradient(to right,
	deepskyblue, lawngreen,  yellow, orange, red, firebrick);
    border-radius: 5px 10px;
    opacity: 0.8;
    border-color: white;
    border-width: 1em;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.bmiInput {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.result {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bmiColumn {
    width: 33%;
    display: flex;
    flex-direction: column;
}
